<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- 定义数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	
	<property name="driverClass" value="com.mysql.jdbc.Driver"/>         
    <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/bbs"/>         
    <property name="user" value="root"/>         
    <property name="password" value="123456"/>
	
	<!-- 连接关闭时默认将所有未提交的操作回滚。默认为false -->  
    <property name="autoCommitOnClose" value="true"/>   
    <!-- 连接池中保留的最小连接数-->  
    <property name="minPoolSize" value="2"/>  
    <!-- 连接池中保留的最大连接数。默认为15 -->        
    <property name="maxPoolSize" value="15"/>    
    <!-- 初始化时获取的连接数，取值应在minPoolSize与maxPoolSize之间。默认为3 -->  
    <property name="initialPoolSize" value="3"/>    
    <!-- 最大空闲时间，超过空闲时间的连接将被丢弃。为0或负数则永不丢弃。默认为0秒 -->  
    <property name="maxIdleTime" value="60"/>        
    <!-- 当连接池中的连接用完时，C3P0一次性创建新连接的数目。默认为3 -->  
    <property name="acquireIncrement" value="3"/>        
    <!-- 定义在从数据库获取新连接失败后重复尝试获取的次数，默认为30 -->  
    <property name="acquireRetryAttempts" value="3"/>      
    <!-- 当连接池用完时客户端调用getConnection()后等待获取新连接的时间，超时后将抛出SQLException，如设为0则无限期等待。单位毫秒，默认为0 -->  
    <property name="checkoutTimeout" value="10000"/>
	</bean>
	
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		
		
		<property name="dataSource" ref="dataSource"/>
		
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="mappingLocations" value="classpath:com/bbs/entities/*.hbm.xml"></property>

	
	<property name="hibernateProperties">
		<props>
		<prop key="hibernate.show_sql">true</prop>
		<prop key="hibernate.format_sql">true</prop>
		<prop key="hibernate.hbm2ddl.auto">update</prop>
		</props>
	</property>

		
		
	</bean>
	
	
	
</beans>